
<ion-view view-title="About">

    <ion-content >

		<div class="card">
		<div class="item item-text-wrap">
                    <p class="item item-icon-left">
                        <i class="icon ion-medkit"></i>
                        Drug Checker Version 1.0
                    </p>
                </div>
                <div class="item item-text-wrap">
                    <p class="item item-icon-left">
                        <i class="icon ion-bug"></i>
                        Found a Bug?
                    </p>
					<!--button class="button icon-left ion-star button-large button-balanced" ng-click="report()"-->
                    
                </button>
                </div>
				<div class="item item-text-wrap">
                    <p class="item item-icon-left">
                        <i class="icon ion-loop"></i>
                        Check for Updates
                    </p>
					<!--button class="button icon-left ion-star button-large button-balanced" ng-click="#"-->
                    
                </button>
                </div>
				<div class="item item-text-wrap">
                    <p class="item item-icon-left">
                        <i class="icon ion-android-contacts"></i>
                        Tell a Friend
                    </p>
					<!--button class="button icon-left ion-star button-large button-balanced" ng-click="#"-->
                    
                </button>
                </div>
					
                
		</div>
    </ion-content>
</ion-view>
